* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}
.gradient-text {
  background: linear-gradient(90deg, #4765e6 0%, #5c4099 50%, #e31662 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* Hero section Start */
.heroSection {
  width: 100%;
  height: 810px;
  background: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position-y: center;
}

.transform {
  font-weight: 600;
  font-size: 61.13px;
  line-height: 61.13px;
  color: #e31662;
}
.yourwaste {
  font-weight: 900;
  font-size: 85.58px;
  line-height: 85.58px;
  color: purple;
}
.into {
  font-weight: 700;
  font-size: 61.13px;
  line-height: 61.13px;
  color: #4765e6;
}
.income {
  font-weight: 900;
  font-size: 92.17px;
  line-height: 64.81px;
}
.arrowImg {
  width: 41.19px;
  height: 131.79px;
}

.heroButton {
  background: linear-gradient(
    90deg,
    #4765e6 33.33%,
    #5c4099 66.66%,
    #e31662 100%
  );
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
/* Hero section End */

/* About sectoin start */
.aboutSection {
  height: 448.5px;
  border: 1px solid black;
}
.imageSection {
  width: 448.5px;
  height: 448.5px;
}
.aboutTitleTop {
  font-size: 35px;
  line-height: 35px;
  color: #ff0e64;
}
.aboutTitleMain {
  font-size: 35px;
  line-height: 52px;
}
.aboutPeragraph {
  font-size: 18px;
  line-height: 27px;
}

/* End */

/* ServiceCards Start */

.serviceCardsSection {
  position: relative;
  height: 858px;
  border: 1px solid black;
  overflow: hidden; /* Ensures that the pseudo-element is contained within the section */
}

.serviceCardsSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/serviceBg.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Set the desired opacity here */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.serviceTitleText {
  font-size: 35px;
  line-height: 45px;
}
.cardItem {
  height: 578px;
  width: 390px;
  border: 1px solid black;
  border-radius: 20px;
  background-image: url('../images/card-bg.png');
}

.cardTitle {
  font-size: 25px;
  line-height: 42px;
}
.extractionCardImg {
  width: 213.13px;
  height: 306.95px;
}
.cardPeragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
/* End */
/* Medai Queries for responsive design */
@media screen and (max-width: 768px) {
  .heroSection {
    width: 100%;
    height: 579px;
    background: url('../images/home-hero-mobile.png');
    background-repeat: no-repeat;
    background-size: cover !important;
  }
  .transform {
    font-weight: 600;
    font-size: 37.43px;
    line-height: 37.43px;
    color: #e31662;
  }
  .yourwaste {
    font-weight: 700;
    font-size: 52.4px;
    line-height: 52.4px;
    color: purple;
  }
  .into {
    font-weight: 700;
    font-size: 37.43px;
    line-height: 37.43px;
    color: #4765e6;
  }
  .income {
    font-weight: 900;
    font-size: 56.44px;
    line-height: 39.68px;
  }
  .heroButton {
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .bigCircle {
    width: 110px;
    height: 110px;
  }

  .roundedIcon {
    width: 90px;
    height: 89.06px;
  }
  .arrowImg {
    width: 29.6px;
    height: 84px;
  }
  /* About Section mobile */
  .aboutSection {
    height: 689px;
    border: 1px solid black;
  }
  .imageSection {
    width: 296px;
    height: 296px;
  }
  .aboutTitleTop {
    font-size: 25px;
    line-height: 35px;
    color: #ff0e64;
  }
  .aboutTitleMain {
    font-size: 25px;
    line-height: 52px;
  }
  .aboutPeragraph {
    font-size: 18px;
    line-height: 27px;
  }
  /* end */
}
